apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "matrixhub.fullname" . }}-apiserver-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "matrixhub.labels" . | nindent 4 }}
data:
  config.yaml: |
    debug: {{ .Values.apiserver.debug }}
    log:
      level: {{ .Values.apiserver.logLevel }}
    database:
      driver: {{ .Values.apiserver.database.driver }}
      accessType: {{ .Values.apiserver.database.accessType }}
      maxOpenConns: {{ .Values.apiserver.database.maxOpenConns }}
      maxIdleConns: {{ .Values.apiserver.database.maxIdleConns }}
      connMaxLifetimeSeconds: {{ .Values.apiserver.database.connMaxLifetimeSeconds }}
      connMaxIdleSeconds: {{ .Values.apiserver.database.connMaxIdleSeconds }}
      migrate: {{ .Values.apiserver.database.migrate }}
    migrationPath: /etc/matrixhub/migrations
    apiServer:
      port: {{ .Values.apiserver.port }}
